:root{
    --background-color: #0c2318;
    --color-1: #a63d40;
    --color-2: #e9b872;
    --color-3: #90a959;
    --color-4: #6494aa;
}
/* 
*{
    border: 1px solid black;
} */

body{
    background-color: white;
}

.header-title-nav-wrapper{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: 10%;
    padding-top: 2%;
}

.header-title{
    padding-left: 10%;
}

a{
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.header-title a{
    font-size: 50px;
}

.header-nav{
    margin-left: auto;
    flex-wrap: nowrap;
    width: 30%;
}

.header-nav span{
    padding-right: 10%;
}

.photo, #bio{
    border: 1px solid black;
}

#picture-bio{
    border: 1px solid black;
    width: 70%;
    height: 600px;
    margin-top: 5%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.photo{
    width: 39%;
    height: 100%;
    border: 1px solid red;
    float: left;
}

.photo img{
    width: 100%;
    height: 70%;
}

.bio{
    width: 59%;
    height: 100%;
    border: 1px solid blue;
    float: right;
}

.bio p{
    padding-top: 10%;
    text-align: left;
    
}

.about-me{
    width: 70%;
    height: 600px;
    border: 1px solid black;
    margin-top: 5%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.project-title{
    width: 80%;
    height: 20vh;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10px;
    text-align: center;
}


.projects-container{
    width: 80%;
    height: 200vh;
    border: 1px solid black;
    margin-top: 2%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.project-wrapper{
    width: 100%;
    height: 20%;
    border: 1px solid red;
    margin-bottom: 1%;
}

.project-info{
    width: 30%;
    height: 100%;
    border: 1px solid blue;
    float: left;
}

.project-bio{
    width: 60%;
    height: 100%;
    border: 1px solid green;
    float: right;
}

.resume-container{
    width: 80%;
    height: 700px;
    border: 1px solid black;
    margin-top: 10%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.resume{
    width: 30%;
    height: 500px;
    float: left;
    border: 1px solid red;
}

.resume-text{
    width: 100%;
    height: 20%;
    border: 1px solid blue;
}

.resume-download{
    width: 100%;
    height: 20%;
    border: 1px solid green;
    margin-top: 10%;
}

.dropdown-menu{
    width: 50%;
    height: 100%;
    float: right;
    border: 1px solid brown;
}

.dropdown-menu-education{
    width: 100%;
    height: fit-content;
    border: 1px solid red;
}

.dropdown-menu-experience{
    width: 100%;
    height: fit-content;
    border: 1px solid red;
}

.dropdown-menu-skills{
    width: 100%;
    height: fit-content;
    border: 1px solid red;
}

.contact-form-container{
    width: 80%;
    height: 800px;
    border: 1px solid black;
    margin-top: 5%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.contact-form-text{
    width: 40%;
    height: 100%;
    float: left;
    border: 1px solid red;
}

.contact-form{
    width: 50%;
    height: 100%;
    float: right;
    border: 1px solid blue;
}

.dropdown-content{
    display: none;
}

.show{
    display: block;
}
